<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span fxFlex></span>
  <div>
    <button *ngIf="!(_authService.isLoggedIn | async)" mat-button [routerLink]="['/login']">Login</button>
    <button *ngIf="!(_authService.isLoggedIn | async)" mat-button [routerLink]="['/register']">Register</button>
    <button *ngIf="(_authService.isLoggedIn | async)" mat-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="start center">
  <router-outlet></router-outlet>
</div>