<mat-toolbar color="primary">
  <a routerLink="/">{{title}}</a>
  <span fxFlex></span>
  <div>
    <!-- <button *ngIf="!(authService.isLoggedIn | async) && (router.url == '/login' || router.url == '/register')"
      mat-button [routerLink]="['/']">
      <span>{{ 'AUTH.TO_MAIN_PAGE' | translate }}</span>
      <mat-icon class="margin-left-8">home</mat-icon>
    </button> -->
    <button *ngIf="!(authService.isLoggedIn | async)" mat-button [routerLink]="['/login']">{{ 'AUTH.LOGIN' | translate
      }}</button>
    <button *ngIf="!(authService.isLoggedIn | async)" mat-button [routerLink]="['/register']">{{ 'AUTH.REGISTER' |
      translate }}</button>

    <span *ngIf="(authService.isLoggedIn | async) && !isCurrentUserAnOrganizer">
      <button mat-button (click)="shoppingCartPreviewIsOpen = !shoppingCartPreviewIsOpen" cdkOverlayOrigin
        #trigger="cdkOverlayOrigin">
        <span>{{ 'SHOPPING.CART' | translate }}</span>
        <mat-icon class="margin-left-8" [matBadge]="shoppingCartItemsCount" matBadgeColor="accent">shopping_cart
        </mat-icon>
      </button>

      <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="shoppingCartPreviewIsOpen">
        <app-shopping-cart-navbar-preview></app-shopping-cart-navbar-preview>
      </ng-template>
    </span>

    <button *ngIf="(authService.isLoggedIn | async)" mat-button (click)="goToProfile()">
      <span>{{ 'PROFILE.VIEW' | translate }}</span>
      <mat-icon class="margin-left-8">account_circle</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        <span>{{ 'AUTH.TO_MAIN_PAGE' | translate }}</span>
      </button>
      <button mat-menu-item [routerLink]="['/about-us']">
        <mat-icon>help</mat-icon>
        <span>{{ 'SETTINGS.ABOUT_US' | translate }}</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
        <span>{{ 'SETTINGS.LANGUAGE' | translate }}</span>
      </button>
      <button *ngIf="(authService.isLoggedIn | async)" mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'AUTH.LOGOUT' | translate }}</span>
      </button>
    </mat-menu>

    <mat-menu #languageMenu="matMenu">
      <button (click)="changeLanguage('en')" mat-menu-item>English</button>
      <button (click)="changeLanguage('ro')" mat-menu-item>Română</button>
    </mat-menu>

  </div>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>