<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="start center">
    <mat-card class="example-card">
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly center">
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="name@example.com" [formControlName]="'email'" required>
                <mat-error *ngIf="loginForm.get('email').errors?.required">You must enter a value</mat-error>
                <mat-error *ngIf="loginForm.get('email').errors?.email">Not a valid email</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'password'" required>
                <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button> -->
                <mat-error *ngIf="loginForm.get('password').errors?.required">You must enter a value</mat-error>
                <mat-error *ngIf="loginForm.get('password').errors?.minlength">Must be at least 6 characters long
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="!loginForm.valid" type="submit" mat-button>Login</button>
        </mat-card-actions>
    </mat-card>
</form>