.profile-info {
    margin: 32px;
    // padding-right: 48px;
}

.profile-photo {
    float: left;
    margin-right: 32px;
    margin-bottom: 16px;
    width: auto;
    height: auto;
}

.other-photos {
    margin: 16px;
    min-width: 200px;
    max-width: 400px;
    max-height: 600px;
}