@import '../../../custom-app-theme.scss';

.profile-info {
    margin: 32px;
    width: 68%;
    padding-left: 32px;
}

.toolbar-lighter-color {
    background-color: mat-color($candy-app-primary, darker);
}

.profile-photo {
    float: left;
    margin-right: 32px;
    margin-bottom: 16px;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

.events-accordion {
    width: 70%;
    padding: 2px;
    background-color: white;
}
