/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.auth-bg-photo {
  background-image: url(https://images.unsplash.com/photo-1516112173450-2e73c1acc637?ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(50, 50, 50);
}