<div class="tabs">
    <mat-tab-group mat-stretch-tabs animationDuration="0ms">

        <mat-tab label="{{'HOME_PAGE.REGIONS' | translate}}">
            <div fxLayout="column">
                <mat-form-field class="search-field-regions" fxFlex>
                    <mat-label>{{ 'HOME_PAGE.FILTER_REGIONS' | translate}}</mat-label>
                    <input type="search" matInput placeholder="{{ 'HOME_PAGE.SEARCH' | translate}}"
                        [(ngModel)]="searchTextRegions">
                </mat-form-field>
            </div>

            <div>
                <mat-grid-list cols="10" rowHeight="100px">
                    <mat-grid-tile *ngFor="let region of regions | regionFilter: searchTextRegions" [colspan]="2"
                        [rowspan]="5">
                        <mat-card class="example-card mat-elevation-z6" fxLayout="column"
                            fxLayoutAlign="space-between center"
                            [ngStyle]="{'background-image': (region.photoUrl) ? 'url(' + region.photoUrl + ')' : '' }">

                            <h2 class="name">{{region.name}}</h2>
                            <div class="module" *ngIf="region.description">
                                {{region.description}}
                            </div>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-tab>

        <mat-tab class="oneTab" label="{{'HOME_PAGE.FUTURE_EVENTS' | translate}}">
            <div class="tab-content" fxLayout="column" fxLayoutAlign="center center">

                <mat-form-field class="search-field" fxFlex>
                    <mat-label>{{ 'HOME_PAGE.FILTER_EVENTS' | translate}}</mat-label>
                    <input type="search" matInput placeholder="{{ 'HOME_PAGE.SEARCH' | translate}}"
                        [(ngModel)]="searchText">
                </mat-form-field>

                <mat-accordion class="accordion">
                    <mat-expansion-panel class="panel" *ngFor="let eventDetails of events | eventFilter: searchText">

                        <mat-expansion-panel-header fxLayout="row">
                            <mat-panel-title fxFlex='48'>
                                {{eventDetails.eventName}}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{eventDetails.region}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-card class="list-card" fxLayout="row" fxLayoutAlign="space-between start">

                            <div fxLayout="column" fxLayoutAlign="space-between start">

                                <div fxLayout="row" class="info-element-title">
                                    <mat-card-subtitle class="info-element-row">
                                        {{ 'EVENT_DETAILS.ORGANIZER_NAME' | translate}}:
                                    </mat-card-subtitle>
                                    <div>
                                        {{eventDetails.organizerName}}
                                    </div>
                                </div>

                                <div fxLayout="row" class="info-element-title">
                                    <mat-card-subtitle class="info-element-row">
                                        {{ 'EVENT_DETAILS.TOTAL_PRICE' | translate}}:
                                    </mat-card-subtitle>
                                    <div>
                                        580
                                    </div>
                                </div>

                                <div fxLayout="row" class="info-element-title">
                                    <mat-card-subtitle class="info-element-row">
                                        {{ 'EVENT_DETAILS.PERIOD' | translate}}:
                                    </mat-card-subtitle>
                                    <div>
                                        {{eventDetails.startDate | date: 'dd/MM/yyyy'}} - {{eventDetails.endDate | date:
                                        'dd/MM/yyyy'}}
                                    </div>
                                </div>

                                <div fxLayout="row" class="info-element-title">
                                    <mat-card-subtitle class="info-element-row">
                                        {{ 'EVENT_DETAILS.AVAILABLE_TICKETS' | translate}}:
                                    </mat-card-subtitle>
                                    <div>
                                        {{ eventService.getAvailableTickets(eventDetails)}}
                                    </div>
                                </div>

                            </div>

                            <div>
                                <img *ngIf="eventDetails.eventMainPhotoUrl" class="main-event-photo"
                                    [src]="eventDetails.eventMainPhotoUrl">
                            </div>

                            <div>
                                <button class="button-details" mat-raised-button color="primary"
                                    [routerLink]="['/event-details', eventDetails.eventId]"> {{
                                    'EVENT_DETAILS.EVENT_DETAILS' | translate}}</button>
                            </div>

                        </mat-card>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>