<div class="tabs">
    <mat-tab-group mat-stretch-tabs animationDuration="0ms">

        <mat-tab label="{{'HOME_PAGE.REGIONS' | translate}}">
            <div fxLayout="column">
                <mat-form-field class="search-field-regions" fxFlex>
                    <mat-label>{{ 'HOME_PAGE.FILTER_REGIONS' | translate}}</mat-label>
                    <input type="search" matInput placeholder="{{ 'HOME_PAGE.SEARCH' | translate}}"
                        [(ngModel)]="searchTextRegions">
                </mat-form-field>
            </div>

            <div>
                <mat-grid-list cols="10" rowHeight="100px">
                    <mat-grid-tile *ngFor="let region of regions | regionFilter: searchTextRegions" [colspan]="2"
                        [rowspan]="5">
                        <mat-card class="example-card mat-elevation-z6" fxLayout="column"
                            fxLayoutAlign="space-between center"
                            [ngStyle]="{'background-image': (region.photoUrl) ? 'url(' + region.photoUrl + ')' : '' }">

                            <h2 class="name">{{region.name}}</h2>
                            <div class="module" *ngIf="region.description">
                                {{region.description}}
                            </div>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-tab>

        <mat-tab class="oneTab" label="{{'HOME_PAGE.FUTURE_EVENTS' | translate}}">
            <div class="tab-content" fxLayout="column" fxLayoutAlign="center center">

                <mat-form-field class="search-field" fxFlex>
                    <mat-label>{{ 'HOME_PAGE.FILTER_EVENTS' | translate}}</mat-label>
                    <input type="search" matInput placeholder="{{ 'HOME_PAGE.SEARCH' | translate}}"
                        [(ngModel)]="searchText">
                </mat-form-field>

                <app-event-array [events]="events" [filter]="searchText"></app-event-array>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>