<mat-card *ngIf="!eventDetails" style="margin: 16px;">
    <mat-card-title>
        {{ 'EVENT_DETAILS.NOT_AVAILABLE' | translate }}
    </mat-card-title>
</mat-card>

<div *ngIf="eventDetails" class="main-div" fxLayout="column">
    <mat-card fxLayout="column">
        <mat-card-title class="event-title" fxLayout="row" fxLayoutAlign="space-between center">
            {{eventDetails.eventName}}

            <button mat-raised-button [disabled]="hasReservations" color="primary" *ngIf="isCurrentUser"
                (click)="updateEvent()" fxLayout="row" fxLayoutAlign="space-evenly  center">
                <mat-icon aria-hidden="false" aria-label="Edit Icon">create</mat-icon>
                <span>{{ 'PROFILE.EDIT' | translate }}</span>
            </button>
        </mat-card-title>

        <mat-card-content fxLayout="row" fxLayoutAlign="space-between start">

            <div>
                <img *ngIf="eventDetails.eventMainPhotoUrl" class="main-event-photo"
                    [src]="eventDetails.eventMainPhotoUrl">
            </div>

            <mat-card class="details-card" fxLayout="column" fxFlex>
                <mat-card-title>{{ 'EVENT_DETAILS.EVENT_DETAILS' | translate }}</mat-card-title>

                <div fxLayout="row" class="info-element-title">
                    <mat-card-subtitle class="info-element-row">
                        {{ 'EVENT_DETAILS.ORGANIZER_NAME' | translate}}:
                    </mat-card-subtitle>
                    <span>
                        <a [routerLink]="['/event-organizer-profile', eventDetails.organizerId]"
                            routerLinkActive="true">{{eventDetails.organizerName}}</a> </span>
                    <span fxFlex></span>
                    <!-- <button [routerLink]="['/event-organizer-profile', eventDetails.organizerId]" color="primary"
                        mat-raised-button> {{ 'PROFILE.VIEW' | translate}}</button> -->
                </div>

                <div fxLayout="row">
                    <mat-card-subtitle class="info-element-row">
                        {{ 'EVENT_DETAILS.REGION' | translate}}:
                    </mat-card-subtitle>
                    <div>
                        {{eventDetails.region}}
                    </div>
                </div>

                <div fxLayout="row">
                    <mat-card-subtitle class="info-element-row">
                        {{ 'EVENT_DETAILS.PERIOD' | translate}}:
                    </mat-card-subtitle>
                    <div>
                        {{eventDetails.startDate | date: 'dd/MM/yyyy'}} - {{eventDetails.endDate | date:
                        'dd/MM/yyyy'}}
                    </div>
                </div>

                <div fxLayout="row">
                    <mat-card-subtitle class="info-element-row">
                        {{ 'EVENT_DETAILS.ACCOMODATION' | translate}}:
                    </mat-card-subtitle>
                    <div>
                        {{eventDetails.accomodation}}
                    </div>
                </div>

                <div fxLayout="row">
                    <mat-card-subtitle class="info-element-row">
                        {{ 'EVENT_DETAILS.TRANSPORT' | translate}}:
                    </mat-card-subtitle>
                    <div>
                        {{eventDetails.transport}}
                    </div>
                </div>

                <div fxLayout="row">
                    <mat-card-subtitle class="info-element-row">
                        {{ 'EVENT_DETAILS.AVAILABLE_TICKETS' | translate}}:
                    </mat-card-subtitle>
                    <div>
                        {{ eventService.getAvailableTickets(eventDetails)}}
                    </div>
                </div>

                <div fxLayout="row">
                    <mat-card-subtitle class="info-element-row">
                        {{ 'CREATE_EVENT.EVENT_DESCRIPTION' | translate}}:
                    </mat-card-subtitle>
                    <div>
                        {{ eventDetails.eventDescription}}
                    </div>
                </div>

            </mat-card>

            <div class="billing-info" fxFlex="15">
                <mat-card class="billing-info-card">
                    <mat-card-title>{{ 'EVENT_DETAILS.BILLING_INFORMATION' | translate }}</mat-card-title>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-card-subtitle class="info-element-title">
                                {{ 'EVENT_DETAILS.EVENT_PRICE' | translate}}
                            </mat-card-subtitle>
                            <div>
                                {{eventDetails.eventPrice}}
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-card-subtitle class="info-element-row">
                                {{ 'EVENT_DETAILS.ACCOMODATION_PRICE' | translate}}
                            </mat-card-subtitle>
                            <div>
                                {{eventDetails.accomodationPrice}}
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-card-subtitle class="info-element-row">
                                {{ 'EVENT_DETAILS.TRANSPORT_PRICE' | translate}}
                            </mat-card-subtitle>
                            <div>
                                {{eventDetails.transportPrice}}
                            </div>
                        </div>

                        <div class="info-element-divider">
                            <mat-divider></mat-divider>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-card-subtitle class="info-element-row">
                                {{ 'EVENT_DETAILS.TOTAL_PRICE' | translate}}
                            </mat-card-subtitle>
                            <div>
                                {{ pricesCalculatorService.getTotalPriceEvent(eventDetails)}}
                            </div>
                        </div>
                    </mat-card-content>

                    <mat-card-actions *ngIf="showAddToCartButton" fxLayoutAlign="end stretch">
                        <button mat-raised-button [disabled]="hasNoMoreAvailableTickets" color="primary"
                            (click)="openDialog()">
                            {{ 'SHOPPING_CART_DIALOG.SELECT_TICKETS' | translate}}
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <google-map class="map" [center]="{lat: eventDetails.mapLat, lng: eventDetails.mapLng}" [zoom]="12">
                <map-marker [position]="{lat: eventDetails.mapLat, lng: eventDetails.mapLng}"
                    [options]="{draggable: false}"></map-marker>
            </google-map>
        </mat-card-content>

    </mat-card>

    <!-- <mat-card-title>{{ 'EVENT_DETAILS.MAP' | translate }}</mat-card-title> -->

    <div>
        <app-photo-array [(photoUrlArray)]="eventDetails.eventPhotosUrl" [isEditing]="false"></app-photo-array>
    </div>
</div>