@import '../../../custom-app-theme.scss';

.main-div {
    margin: 32px;
}

.billing-info {
    margin-left: 32px;
    margin-right: 32px;
}

.main-event-photo {
    max-width: 650px;
    min-width: 400px;
    margin: 16px;
}

.info-element-title {
    margin-top: 16px;
}

.info-element-row {
    margin-right: 16px;
}

.info-element-divider {
    margin-bottom: 16px;
}

.billing-info-card {
    background-color: mat-color($candy-app-primary, lighter) !important;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: mat-color($candy-app-primary);
}